{{ define "main" }}

<div class="about-page">
    <div class="profile">
        <div class="avatar">
            <img src="{{ .Params.avatar }}" alt="">
        </div>

        <div class="introduction">
            <p>
                As an anthropologist and a writer, I explore the beliefs, behaviors, stories and journeys that shape us.
                I have a decade of experience in <span>consumer research, global ethnography and narrative non-fiction
                writing</span>.
            </p>
            <p>
                I’ve work extensively in areas crossing <span>education, entertainment, insurance, home appliance, health
                wellness and experience design</span>. My qualitative research skill includes <span>Ethnography, Digital Ethnography,
                Participatory Design, Focus Group, One on one in-depth interviews and Usability Testing</span>.
            </p>
            <p>
                Currently I’m working at Touch Innovation, a design research consultancy I co-founded in Shanghai China
                in 2016. Touch aims to connect global businesses and creatives with Chinese consumers through research
                expertise.
                If you are interested in any collaborations or knowing more about me, please feel free to contact via
                <br/>
                <a href="mailto:caichenyi@gmail.com">caichenyi@gmail.com</a>.
            </p>
        </div>

    </div>
    <div class="clients">
        <div class="title">Selected clients</div>
        <div class="image">
            <img src="{{.Params.clients}}" alt="clients" title="clients">
        </div>
    </div>
</div>

{{ end }}
