{{ define "main" }}

<div class="about-page">
    <div class="profile">
        <div class="avatar">
            <img src="{{ .Params.avatar }}" alt="">
        </div>

        <div class="introduction">
            {{ .Content }}
        </div>

    </div>
    <div class="clients">
        <div class="title">Selected clients</div>
        <div class="clients-container">
            {{ range .Params.clients }}
            <div class="client">
                <img src="{{.logo}}" alt="{{.name}}" title="{{.name}}">
            </div>
            {{ end }}
        </div>
    </div>

</div>

{{ end }}
