{{ define "main" }}

<div>
<div class="flex flex-wrap justify-between">
    <div class="w-40">
    <img class="br-100 w-100" src="{{ .Params.avatar }}" alt="">
    </div>

    <div class="w-55">
        {{ .Content }}
        <div class="flex items-center">
            <img class="br-100 w2 h2 mr3" src="/img/about-linkedin.png" alt="">
            <a class="no-underline blue" href="mailto: caichenyi@gmail.com">caichenyi@gmail.com</a>
        </div>
    </div>
</div>
    <div class="mt7 mb7">
        <div style="text-align: center" class="mb5">Selected clients</div>
        <div class="flex flex-wrap justify-around">
            {{ range .Params.clients }}
            <div class="w-20 mb4 mh3">
                <img src="{{.image}}" alt="">
            </div>
            {{ end }}
        </div>
    </div>

</div>

{{ end }}
