.hello {
  .big {
    font-size: 5rem;
    font-style: italic;
    line-height: 0.75;
  }

  .normal {
    font-size: 2.4rem;
    line-height: 1.3;
  }
}

.cases {
  margin-top: 10rem;
  margin-bottom: 10rem;
}
